
{% extends 'base.html'%}
{% load staticfiles%}
{% block page%}

<div class="container">
  <div class="row">

	<table>
		<td id="f"><div class="card"><p class ='title-head'>SIR GANGA RAM HOSPITAL, LAHORE
      <img src="{% static 'img/sgrm.png' %}" alt="" width="180"></div></td>
		<td id="s"><div class="card"><p class ='title-head'>AL-RAZI HEALTH CARE, LAHORE
      <img src="{% static 'img/Alrazo.png' %}" alt="" width="130"></div></td>
		<td id="t"><div class="card"><p class ='title-head'>UET, LAHORE
      <img src="{% static 'img/uet.png' %}" alt="" width="140"></div></td>
		<td id="fr"><div class="card"><p class ='title-head'>HAMEED LATIF HOSPITAL, LAHORE
      <img src="{% static 'img/Hameed.jpg' %}" alt="" width="150"></div></td>
		<td id="fv"><div class="card"><p class ='title-head'>RIA ENTERPRISES
      <img src="{% static 'img/ria.jpg' %}" alt="" width="180"></div></td>
    <td id="gr"><div class="card"><p class ='title-head'>BILAL HOSPITAL, RAWALPINDI
      <img src="{% static 'img/bh.jpg' %}" alt="" width="145"></div></td>
    <td id="hk"><div class="card"><p class ='title-head'>MULTI PLANNER TRADING CORPORATION
      <img src="" alt="" width="160"></div></td>
    <td id='aa'><div class="card"><p class ='title-head'>SHAHEEN TRADERS, LAHORE
      <img src="{% static 'img/sr.jpg' %}" alt="" width="160"></div></td>
    <td id="ab"><div class="card"><p class ='title-head'>H.S ENTERPRISES
      <img src="{% static 'img/hs.png' %}" alt="" width="180"></div></td>
    <td id="ac"><div class="card"><p class ='title-head'>  GALLANYS ASSOCIATES
      <img src="{% static 'img/gallant.jpg' %}" alt="" width="150" height="140"></div></td>
    <td id="ad"><div class="card"><p class ='title-head'>  THREE EYE GRAPHICS
      <img src="{% static 'img/3eye.jpg' %}" alt="" width="150"></div></td>
    <td id="ae"><div class="card"><p class ='title-head'>STARLET INTERNATIONAL
      <img src="{% static 'img/starlet.jpg' %}" alt="" width="145" height="130"></div></td>
	</table>


  </div>

</div>


{%endblock %}
