{% extends 'base.html'%}
{% block page%}
<div class="container">
    <div class='row'>
    <h2 class="text-center">Our Team</h2>
    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. MUHAMMAD TAYYAB</h4>
      <p class="title-br">CEO & Founder</p>
      <p>Lahore University</p>
    </div>
    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. SOHAIL KHAN</h4>
      <p class="title-br">Field Manager</p>
      <p>Lahore University</p>
    </div>
    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. SHOUKAT HUSSAIN</h4>
      <p class="title-br">Field supervisor</p>
      <p>Lahore University</p>
    </div>
    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. ANSAR HAYAT</h4>
      <p class="title-br">Computer Operator </p>
      <p>Lahore University</p>
    </div>
    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. MOHAMMAD SAJJAD</h4>
      <p class="title-br">Computer Operator</p>
      <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. SALMAN KHAN</h4>
      <p class="title-br">Office Clerk</p>
      <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
        <h4>MR. SALAHUDDIN</h4>
        <p class="title-br">Accountant</p>
        <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. MUHAMMAD AMIR RAZA</h4>
      <p class="title-br">Cashier</p>
      <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. MOHAMMAD IQBAL</h4>
      <p class="title-br">Assistant Manager</p>
      <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR. MOHAMMAD ILYAS</h4>
      <p class="title-br">Assistant Manager</p>
      <p>Lahore University</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR.KHURRAM MANZOOR</h4>
      <p class="title-br">Driver</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR.MOHAMMAD SIDDIQUE</h4>
      <p class="title-br">Driver</p>
    </div>

    <div class="card col-sm-4">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="John" style="width:100%">
      <h4>MR.KAMRAN AKMAL</h4>
      <p class="title">Equipment Distributor</p>
    </div>

  </div>

</div>


{% endblock%}
